@{
    ViewData["Title"] = "Welcome";
}
    
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        @foreach (var item in ViewBag.Products)
        {
            <div class="single-products-catagory clearfix">
                <a href="@Url.Action("productdetails", new {productID = item.id})">
                    <img src="@Html.Raw(item.image)" alt="" style="background-color:grey;">
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>@Html.Raw(item.price) ₺</p>
                        <h4 style="color: white; text-shadow: 1px 1px 2px black; font-size:12px;">@Html.DisplayName(item.name)</h4>
                    </div>
                </a>
            </div>  
        }      

    </div>
</div>
<!-- Product Catagories Area End -->
